
.input{
    height: 90px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    padding: 300px;
    border-radius: 20px;
    margin: 10px;
    width: 320px;
}
.send{
float: right;
}
.button{
    height: 40px;
    float: right;
    margin-right: 15px;
}

.presentAlert{
    color: antiquewhite;
    size: 0ch;

}