#container {
  text-align: left;
  border: 2px rgb(243, 202, 126);
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  background-color: rgb(49, 31, 11);
  height: 120%;
  margin-left: 5%;
  margin-right: 5%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.img{
  border-radius: 50%;
}
#container p {
  font-size: 15px;
  line-height: 22px;
  color: wheat;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
}


